<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply</title>
    <link rel="stylesheet" href="/css/studentpanel.css">
</head>
<body>
    <nav>
        <div class="logo">
           <a href="#"><img class="imgsize" src="images/preloader.gif" alt="logon"></a>
        </div>
        <ul class="nav-links">
            <li><a  href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>

    <div>
        <h1>Hello <%= company %></h1>
        <h1>Hello <%= company %></h1>
        <h1>Hello <%= company %></h1>
        <h1>Hello <%= company %></h1>
        <h1>Hello <%= company %></h1>
        <h1>Hello <%= company %></h1>
        <h1>Hello <%= company %></h1>
        <h1>Hello <%= company %></h1>
    </div>
</body>
</html>