<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/25fe916b03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/studentpanel.css">

    <title>Welcome</title>
</head>
<body>
    <nav>
        <div class="logo">
           <a href="#"><img class="imgsize" src="../images/logo.png" alt="logo"></a>
        </div>
        <ul class="nav-links">
            <li><a  href="#">Home</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="sendmsg">Contact Us</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
    <div class="bg-img">
        <div class="welcome">
            <h2>“It's not what you achieve, it's what you overcome. That's what defines your career." —Carlton Fisk
            </h2>
           
        </div> 
    </div>
    
    <section class="job-details">
        <h1><%= name %></h1>
        <h3 class="regno">Reg no: <%= regno %></h3>
        <h2>New Hirings...</h2>

        <% companyLists.forEach(foundjob => { %>
            <div class="jobs-list">
                <h3><%= foundjob.company %></h3>
                <p style="font-weight: 900;
                     text-transform: uppercase;"><%= foundjob.department %></p>
                <p><%= foundjob.branch %></p>
                <p style="color: rgb(110, 110, 110);
                padding-top: 1rem;"><%= foundjob.description.substring(0, 400) + "...." %> <a class="read-more" href="/login/<%= foundjob._id %>">Read More</a> </p>
             </div>
         <%})%>
       
    </section>
    
</body>
</html>


